._body {
      min-height: 544px !important;
      width: 30vw;
}



button {
    padding-left: 30px;
    background-color: rgb(105, 84, 162, 0.2108);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #d4cbe5;
    padding: 14px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #4b3f6b;
    cursor: pointer;   
   
}

.fechar{
    position: absolute;
    top: 10px;
    right: 10px;

    background: white;
    border: 3px solid black;
    border-radius: 4px;
    padding: 1px 1px;
    font-weight: bold;
    cursor: pointer;
    width: 29px;

    
}



Body {
    margin: 20px;
    padding: 20px;
    border-radius: 5%;
    background-color: #f7f2f9;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px ; 
    position: relative;

}

.date-container {
    display: flex;
    gap: 12px;
    background: #000;
    padding: 14px 18px;
    border-radius: 16px;
    width: fit-content;
}

.date-card {
    background: #fff;
    padding: 10px 14px;
    border-radius: 14px;
    text-align: left;
    width: 70px;
    cursor: pointer;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.12);
}

.date-card.selected {
    background: #9e00ff;
    color: white;
}

.weekday {
    display: block;
    margin-bottom: 3px;
}

.date {
    display: block;
    font-weight: 600;
    font-size: 11px;
}

.hour-container {
    display: flex;
    gap: 5px;
    background: #000;
    padding: 14px 18px;
    border-radius: 16px;
    width: fit-content;

}

.hour {
    display: block;
    margin-bottom: 3px;    
}




.round-btn {
  width: 180px;
  height: 30px;
  background-color: #6B4CC2; /* roxo parecido com o da imagem */
  border-radius: 16px;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  /* sombra suave igual da imagem */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
