._body {
      min-height: 544px !important;
      width: 30vw;
}

.card-container {
    display: flex;
    flex-direction: column; 
    gap: 15px; 
    width: 300px; 
    margin: 20px; 
}
.card {
    display: flex; 
    align-items: center; 
    padding: 15px 20px; 
    background-color: #5d3596; 
    color: white; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.card-icon {
    font-size: 30px; 
    margin-right: 25px; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px; 
}
.card-text {
    font-size: 20px; 
    font-weight: bold; 
    flex-grow: 1; 
}
.btn_corrigir{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
    height: 40px; 
    background-color: white; 
    color: black; 
    border: 2px solid #4b308e; 
    border-radius: 50px; 
    font-size: 16px; 
    font-weight: 500; 
    cursor: pointer; 
    appearance: none;
    -webkit-appearance: none;
}
.btn_confirmar{
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 20px; 
    height: 40px; 
    background-color: #4b308e; 
    color: white; 
    border: 2px solid #4b308e; 
    border-radius: 50px; 
    font-size: 16px; 
    font-weight: 500; 
    cursor: pointer; 
    appearance: none;
    -webkit-appearance: none;
}
.botoes-container{
    display: flex;
    gap: 15px; 
    align-items: center;
    padding: 20px;
}
body{
    margin: 20px;
    padding: 20px;
    border-radius: 5%;
    background-color: #f7f2f9;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px ; 
    position: relative;

}
.fechar{
    width: 30px;
    height: 30px;
    background-color: white; 
    border: 2px solid black; 
    box-shadow: 2px 2px 0 0 black, -1px -1px 0 0 #555;
    position: right;
    margin-left: auto;
    
}