Body {
    margin: 20px;
    padding: 20px;
    border-radius: 5%;
    background-color: #f7f2f9;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px ; 
    position: relative;

}

.acesso {
  background-color: rgb(105, 84, 162, 0.2108);;
    border-radius: 50px;
    border: none;
    padding: 15px 40px;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: babackground-color 0.3s ease;
    width: 50%;
}

.acesso:hover {
  background-color: #7d59b3;
}

.campo-senha {
  position: relative;
  width: 50%;
  border-radius: 14px;
  
}

.campo-senha input {
  width: 100%;
  padding-right: 40px; /* espaço para o ícone */
}

.campo-senha .toggle-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  cursor: pointer;
}

.fechar {
    text-align: right;
     top: 15px;
    right: 15px;
    background-color: white;
    width: 10%;    
    position: absolute;    
}