Body {
    margin: 20px;
    padding: 20px;
    border-radius: 5%;
    background-color: #f7f2f9;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px ; 

}
button {
    padding-left: 30px;
    background-color: rgb(105, 84, 162, 0.2108);
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 30%;
    background: #d4cbe5;
    padding: 14px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    color: #4b3f6b;
    cursor: pointer;   
   
}

