#header_container {
    display: flex ;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    margin-right: 4vw;
}

#image {
    width: 100%;
    height: 40vh;
    background-color: black;
}
