.header {
    height: 50vh;
    width:100%;
    overflow:hidden;
    position: relative;
}
.header-content {
    color:black;
    z-index: 1;
    position: relative;
    display:flex;
    flex-direction:column;
    justify-content: flex-end;
    height: 100%;
    /* justify-content:left; */
    /* align-items: flex-end; */
}
.content-bar {
    display: flex;
    flex-direction: row;
}
.background-img {
    object-fit: cover;
    z-index: -1;
    padding-bottom: 5vh;
}

